<div class="ro-ver-heading"><span>RO Verification</span></div>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Initiate RO Verification">
    <div class="ro-verification">
      <form [formGroup]="roVerificationForm" (ngSubmit)="onSubmit()">

        <div class="entity">
          <div>
            <mat-label>Select Entity Type</mat-label>
          </div>
          <mat-radio-group aria-label="Select Entity Type" formControlName="entityType" [(ngModel)]="entityType">
            <mat-radio-button value="bankOfficer">Bank Officer</mat-radio-button>
            <mat-radio-button value="thirdParty">Third Party Agency</mat-radio-button>
          </mat-radio-group>
        </div>


        <div *ngIf="entityType == 'bankOfficer'">
          <div>
            <mat-form-field class="deviation-full-width">
              <mat-label>PF ID:</mat-label>
              <input matInput placeholder="Enter PF ID" formControlName="pfId" [(ngModel)]="pfId"
                (keyup)="showProfile()">
            </mat-form-field>
            <div *ngIf="showUserProfile">
              <table mat-table [dataSource]="dataSource" class="table-border">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Officer Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="num">
                  <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.num}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>

        <div *ngIf="entityType=='thirdParty'">

          <div class="agencyName">
            <mat-form-field class="ro-width">
              <mat-label>Agency Name</mat-label>
              <input matInput placeholder="Enter Agency Name" formControlName="agencyName" [(ngModel)]="agencyName"
                (keyup)="selectAgencyName()">
            </mat-form-field>
          </div>

          <div class="pfid">
            <mat-form-field class="ro-width">
              <mat-label>Agency User Name</mat-label>
              <input matInput placeholder="Enter Agency User Name" formControlName="agencyUserName"
                [(ngModel)]="agencyUserName">
            </mat-form-field>
          </div>

          <div class="appr-date">
            <mat-form-field>
              <mat-label>Agency Mobile No.</mat-label>
              <input matInput placeholder="Enter Mobile No" formControlName="agencyMobile" [(ngModel)]="agencyMobile">
            </mat-form-field>
          </div>

          <div class="agency-email">
            <mat-form-field>
              <mat-label>Agency Email</mat-label>
              <input matInput placeholder="Enter Email ID" formControlName="agencyEmail" [(ngModel)]="agencyEmail">
            </mat-form-field>
          </div>

        </div>

        <div class="remarks">
          <div><span>Remarks:</span></div>
          <textarea type="text" placeholder="Enter Remarks, if any" class="remarks-box"></textarea>
        </div>
      </form>
      <div class="button">
        <button mat-button class="ro-btn" type="button" (click)="showDownload()">Generate Ro Verification Form</button>
      </div>

      <div class="button" *ngIf="showDownloadButton">
        <button mat-button class="ro-btn">Download Ro Verification Report</button>
      </div>

      <div class="button">
        <button mat-button class="save-btn">Done</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Update Decision of RO Verification">
    <div class="ro-verification">
      <div class="update-decision-heading"><span>Enter details of the action taken on the Residence and Office (RO)
          report</span></div>
      <div>RO Verification Conducted by {{pfId}} - {{username}}</div>

      <div class="decision-date">
        <mat-form-field>
          <mat-label>Date of Decision</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="decision-rpt">
        <mat-form-field>
          <mat-label>Decision Taken on Report</mat-label>
          <mat-select>
            <mat-option value="satisactory">Satisactory</mat-option>
            <mat-option value="dissatisfactory">Dissatisfactory</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="remarks">
        <div><span>Remarks:</span></div>
        <textarea type="text" placeholder="Enter Remarks, if any" class="remarks-box"></textarea>
      </div>

      <div class="button">
        <button mat-button class="cancel-btn" (click)="closeDialog()">Cancel</button>
        <button mat-button class="save-btn">Save</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>